/* Responsividade para telas maiores */

@media (min-width: 992px){
    #home .mb-4{
        order: 2;
    }

    #homeContent{
        text-align: start !important;
    }

    nav ul{
        margin: 0 2rem;
    }

    #about .mb-4{
        order:  0 !important;
    }   

    #aboutContent .lh-base span{
        display: block !important;
    }

    
}

/* Ajustes telas médias */

@media (min-width: 768px){
    #about .mb-4 h2{
        display: none;
    }

    
    #aboutContent h2{
        display: block !important;
    }

    #about .mb-4{
        order:  2 ;
    }    
    
    #aboutContent p{
        text-align: justify !important;
    }

    #aboutContent h2{
        text-align: left !important;
    }

   
    #aboutContent, #passbybassContent .col-md-6 .mb-4{
        order: 1 !important;
    }

    .passbybassContent .mb-4{
        align-items: flex-start !important;
        text-align: left !important;
    }


    

}


/* Ajustes telas mais pequenas */

@media (max-width: 768px){
    .passbybassContent .mb-4{
        align-items: flex-start !important;
        text-align: center !important;
    }

    #ul{
        text-align: left;
        margin: 0 auto !important;
        max-width: 80%;
    }
}
 
@media (max-width: 316px){
    nav a p{
        display: none !important;
      
    }
}
 