@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --bg-color: #F5F4F0;
    --border: #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    --main-font: "Open Sans", sans-serif;
}

h1{
    color: var(--accent-orange);
}

h2{
    color: var(--text-primary);
}

.fst-italic{
    color: var(--text-tertiary);
}