*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #555;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}
.container{
    background-color: white;
    border: 1px solid;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.itemsContainer{
    border: 1px solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

input[type="button"]{
    display: block;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}
input[type="button"]:active{
    transform: scale(0.9);
}

.item{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    margin: 10px 0;
    border-radius: 15pc;
    width: 200px;
    background-color: lightgray;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.269);
    transition: .4s ease;
}
label{
    cursor: pointer;
}
.changeColor{
    background-color: blue;
}
