@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Variables CSS */

:root{
    /* Paleta Principal */
    --color-black:#12130F;
    --color-darkgren:#5B9279;
    --color-green:#8FCB9B;
    --color-white:#EAE6E5;
    --color-brown:#8F8073;

    /* Paleta Alternativa */
    --Verde-Pinheiro:#2E8B57;
    --Vermelho-Natal:#B22222;
    --Branco-Neve:#F8F8FF;
    --Dourado-Metálico:#DAA520;
    --Azul-Neon:#00CED1;

    /* Tipografia */
    --header-font: "Orbitron";
    --secondary-font: "Roboto", sans-serif;

    /* RGB Glow */
}


/* .navbar{
    background-color: var(--color-black) !important;
} */

body, html{
    scroll-behavior: smooth;
    font: normal normal 1em var(--secondary-font);
    color: var(--Branco-Neve);
}

body, main{
    min-height: 100vh;
}

nav{
    font: normal normal 1em var(--header-font);
    letter-spacing: 2.5px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.05);
}
 
nav ul{
    font: normal normal 1em var(--secondary-font);
    letter-spacing: normal;

}

.header{
    font-family: var(--header-font);
}

.menu--movel { 
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: .25s; 
    z-index: 2;
    background: linear-gradient(0deg, black, #12130F);
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    z-index: -99;
    animation: animate 20s linear infinite;
}

.glow::after{
    filter: blur(20px);
}

.menu--show {
    transform: translateY(0%);
    transition: .6s;
}

.navbar-toggler:focus{
    box-shadow: 0px 0px 7px var(--Azul-Neon);
}

.img-fluid{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.384));
}