/* Configurações das animações */
.txt-animado span{
    position: relative;
}

.txt-animado span::before{
    content: "";
    animation: palavras 30s infinite ;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid skyblue;
    right: -10px;
    animation: cursor .8s infinite, digita 30s steps(15) infinite;
    width: calc(100% + 17px);
    background-color: #212529;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 80%, 85%{
        width: calc(100% + 17px);
    }
}


@keyframes cursor {
    0%{
        border-left: 2px solid #212529;
    }
}

@keyframes palavras {
    0%, 50% {
        content: "Seja Bem Vindo!";
    }
    51%, 100% {
        content: "Seja Bem Vinda!";
    }
}

/* RBG ANIMATE 1 */

@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

/* RGB ANIMATE 2 */

@keyframes pisca-pisca {
    0% { 
        background-position: 0% 50%; 
    }
    50% { 
        background-position: 100% 50%; 
    }
    100% { 
        background-position: 0% 50%; 
    }
}