/* Configurações das animações */

#homeContent{
    animation: appear .555s;
}

#natal-tree{
    animation: translateLeft .8s;
}

@keyframes appear{
    from{
        opacity: 0.5;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes translateLeft{
    from{
        opacity: 0.5;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}


/* RBG ANIMATE 1 */

@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

/* RGB ANIMATE 2 */

@keyframes rgbScroll {
    0% { 
        background-position: 0% 50%; 
    }
    50% { 
        background-position: 100% 50%; 
    }
    100% { 
        background-position: 0% 50%; 
    }
}